// Theming
// --------------------------------------------------

.c-header-media {

    &__wrap {
        background-color: $default-grey;
        
        &:first-child {
            background-color: $black;
        }

        h1, h4, h5, li, p {
            color: $white;
        }

        h1 {
            color: $default-lt-grey;
        }

        a {
            color: $white;
      
            &:hover,
            &:focus,
            &:active {
               color: $white;
            }
        }
    } // end theme

    //theme A - strong green sand
    &.theme-a {
        .c-header-media__wrap {
            background-color: $green-kaitoke;
        
            &:first-child {
                background-color: $green-zuccini;
            }

            h1, h4, h5, li, p {
                color: $white;
            }

            h1 {
                color: $yellow-sunflower;
            }

            a {
                color: $white;
        
                &:hover,
                &:focus,
                &:active {
                color: $white;
                }
            }
        }
    } // end theme

    //theme B - blue green lemon
    &.theme-b {
        .c-header-media__wrap {
            background-color: $green-mosque;
        
            &:first-child {
                background-color: $green-deep-teal;
            }

            h1, h4, h5, li, p {
                color: $white;
            }

            h1 {
                color: $yellow-schoolbus;
            }

            a {
                color: $white;
        
                &:hover,
                &:focus,
                &:active {
                color: $white;
                }
            }
        }
    } // end theme

    //theme C - dark blue sand
    &.theme-c {
        .c-header-media__wrap {
            background-color: $blue-sapphire;
        
            &:first-child {
                background-color: $green-dark;
            }

            h1, h4, h5, li, p {
                color: $white;
            }

            h1 {
                color: $yellow-mustard;
            }

            a {
                color: $white;
        
                &:hover,
                &:focus,
                &:active {
                color: $white;
                }
            }
        }
    } // end theme

    //theme D - blue orange
    &.theme-d {
        .c-header-media__wrap {
            background-color: $blue-tarawera;
        
            &:first-child {
                background-color: $blue-gem;
            }

            h1, h4, h5, li, p {
                color: $white;
            }

            h1 {
                color: $orange-clementine;
            }

            a {
                color: $white;
        
                &:hover,
                &:focus,
                &:active {
                color: $white;
                }
            }
        }
    } // end theme

    //theme E - navy orange
    &.theme-e {
        .c-header-media__wrap {
            background-color: $blue-midnight;
        
            &:first-child {
                background-color: $blue-navy;
            }

            h1, h4, h5, li, p {
                color: $white;
            }

            h1 {
                color: $pink-rose-bud;
            }

            a {
                color: $white;
        
                &:hover,
                &:focus,
                &:active {
                color: $white;
                }
            }
        }
    } // end theme

    //theme F - red violet light orange
    &.theme-f {
        .c-header-media__wrap {
            background-color: $purple-palatinate;
        
            &:first-child {
                background-color: $purple-blackberry;
            }

            h1, h4, h5, li, p {
                color: $white;
            }

            h1 {
                color: $yellow-selective;
            }

            a {
                color: $white;
        
                &:hover,
                &:focus,
                &:active {
                color: $white;
                }
            }
        }
    } // end theme

    //theme G - dark red light orange
    &.theme-g {
        .c-header-media__wrap {
            background-color: $purple-red;
        
            &:first-child {
                background-color: $purple-tyrian;
            }

            h1, h4, h5, li, p {
                color: $white;
            }

            h1 {
                color: $yellow-selective;
            }

            a {
                color: $white;
        
                &:hover,
                &:focus,
                &:active {
                color: $white;
                }
            }
        }
    } // end theme
}