//
// Article Header 1
// --------------------------------------------------

.c-article-header + .container-single {

  margin-top: 15px;
  @media only screen and ($bp-sm-min) {
    margin-top: 30px;
  }
  @media only screen and ($bp-xxl-min) {
    margin-top: 60px;
  }

  // transform: translate3d(0,0,0);
}

// @keyframes article-header-height {
//   0% {
//     height: 100vh;
//   }
//   100% {
//     height: 75vh;
//   }
// }

.c-article-header {
  position: relative; 
  overflow: hidden;
  // max-height: 75vh;
  // transition: height 0.3s ease-in;
  // animation: article-header-height 2s ease-out;
  // -webkit-backface-visibility: hidden;

  @media only screen and ($bp-lg-min) and (min-height: 600px) {
    height: calc(75vh - 65px);
  }
  @media only screen and ($bp-xxl-min) and (min-height: 600px) {
    height: calc(75vh - 99px);
  }

  /*tidy*/
  &.make-full-height{
    .c-article-header__media-wrapper{
      overflow: hidden;
    }
    .c-article-header__picture .c-article-header__img{
      height: 100%;
      width: 100vw;
      object-fit: cover;
      object-position: center;
    }
  }
  /*tidy*/


  &__link {
    max-width: 500px;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    margin: auto;
    padding: 15px;
    z-index: 2;
    display: block;
    position: relative;

    @media only screen and ($bp-md-min) {
      padding: 30px;
      // max-width: 100%;
      margin: 0;
    }

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;

      @media only screen and (min-height: 550px) {
        color: $white;
      }

      @media only screen and ($bp-md-min) {
        color: $white;
      }
    }

    &--negative {
      .c-story-panel-1__heading,
      .c-story-panel-1__intro {
        @media only screen and ($bp-md-min) {
          color: $black;
        }
      }

      &:hover,
      &:focus,
      &:active {
        color: $black;
      }
    }

    @media only screen and ($bp-md-min) {
      max-width: 75%;
    }

    @media only screen and ($bp-lg-min) {
      // max-width: 520px;
      max-width: 50%;
      padding: 60px;
    }

    @media only screen and ($bp-xl-min) {
      max-width: 620px;
      width: 50%;
    }

    @media only screen and ($bp-xxl-min) {
      max-width: 780px;
      padding: 90px;
    }
  }

  &--negative {

    .c-article-header__heading,
    .c-article-header__intro,
    .c-article-header__author,
    .c-article-header__author-name {
      color: $black;
      // @media only screen and ($bp-md-min) {
      //   color: $white;
      // }
    }

    &:hover,
    &:focus,
    &:active {
      color: $black;
    }
   
    .c-article-header__media-wrapper-copy {
      .c-article-header__heading,
      .c-article-header__intro,
      .c-article-header__author,
      .c-article-header__author-name {
        color: $black;
        // @media only screen and ($bp-md-min) {
        //   color: $white;
        // }
      }

      &:hover,
      &:focus,
      &:active {
        color: $black;
      }
    }
  }
  
  &__text-wrapper {
    // position: absolute;
    bottom: 0px;
    width: 100%;

    @media only screen and ($bp-sm-min) {
      width: 66.66667%;
      margin-left: 16.66667%;
    }

    @media only screen and ($bp-md-min) {
      // position: absolute;
      max-width: 100%;
      margin: 0;
    }

    @media only screen and ($bp-sm-max) and (max-height: 550px) {
      // position: absolute;
      bottom: 0;
      width: 100%;
      max-width: 100%;
      margin: 0;
      position: relative;
      .c-article-header__link {
        padding-top: 15px;
        padding-bottom: 60px;
      }
      .c-article-header__horizontal-gradient,
      .c-article-header__vertical-gradient {
        display: none;
      }
      .c-article-header__heading,
      .c-article-header__intro,
      .c-article-header__author,
      .c-article-header__author-name {
        color: black;
      }
    }

    @media only screen and ($bp-md-min) {
      background-color: transparent;
      position: absolute;
      // bottom: 55px;
      left: 0;
      width: 100%;
      padding: 0;
      z-index: 2;
    }
  }
  
  &__heading {
    font-size: 28px;
    line-height: 34px;

    @media only screen and (min-height: 550px) {
      color: $black;
    }
    
    @media only screen and ($bp-md-min) {
      font-size: 35px;
      line-height: 40px;
      color: $white;
    }

    @media only screen and ($bp-xl-min) {
      font-size: 45px;
      line-height: 50px;
    }

    @media only screen and ($bp-xxl-min) {
      font-size: 60px;
      line-height: 72px;
    }
  }
  
  &__intro {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    @media only screen and (min-height: 550px) {
      color: $black;
    }
    
    @media only screen and ($bp-md-min) {
      font-size: 26px;
      line-height: 30px;
      color: $white;
    }

    @media only screen and ($bp-xl-min) {
      font-size: 30px;
      line-height: 35px;
    }

    @media only screen and ($bp-xxl-min) {
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__horizontal-gradient {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include scrimGradient(#000, 'to top');
    height: 100%;
    z-index: 1;

    @media only screen and ($bp-md-min) {
      // height: 50%;
      display: block;
    }

    @media only screen and ($bp-xl-min) {
      // height: 400px;
    }

    &--white {
      @include scrimGradient(#FFF, 'to top');
    }

    &--25 {
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
    }

    &--50 {
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 100%);
    }
  }

  &__vertical-gradient {
    display: none;
    @include scrimGradient(#000, 'to right');
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 50%;
    z-index: 1;

    @media only screen and ($bp-md-min) {
      width: 50%;
      display: block;
    }

    &--white {
      @include scrimGradient(#FFF, 'to right');
    }

    &--25 {
      background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
    }

    &--50 {
      background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 100%);
    }
  }

  &__media-wrapper {
    position: relative;
    //min-height: 300px;
    height:100%;
    @media only screen and ($bp-lg-min) and (min-height: 600px) {
      height: calc(75vh - 65px);
    }
    @media only screen and ($bp-xxl-min) and (min-height: 600px) {
      height: calc(75vh - 99px);
    }
    //background-color: $offwhite;

    &-copy {
      padding: 15px;
      // max-width: 500px;

      @media only screen and ($bp-sm-min) {
        width: 66.66667%;
        margin-left: 16.66667%;
      }

      @media only screen and ($bp-md-min) {
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 2;
        width: 75%;
        padding: 30px;
        margin-left: 0;
      }
  
      @media only screen and ($bp-lg-min) {
        // max-width: 520px;
        max-width: 50%;
        padding: 60px;
      }
  
      @media only screen and ($bp-xl-min) {
        max-width: 620px;
        width: 50%;
      }
  
      @media only screen and ($bp-xxl-min) {
        max-width: 780px;
        padding: 90px;
      }

      .c-article-header__heading,
      .c-article-header__intro,
      .c-article-header__author,
      .c-article-header__author-name {
        color: $black;

        @media only screen and ($bp-md-min) {
          color: $white;
        }
      }

    }

    // @media only screen and ($bp-md-min) {
    //   min-height: 410px;
    // }

    // @media only screen and ($bp-lg-min) {
    //   min-height: 560px;
    // }

    // @media only screen and ($bp-xl-min) {
    //   min-height: 790px;
    // }

    // @media only screen and ($bp-xxl-min) {
    //   min-height: 1065px;
    // }
    &__picture {
      img {
        margin: auto;
      }
    }

    height: 100%;
    picture {
      height: 100%;
      @media only screen and ($bp-lg-min) and (min-height: 600px) {
        height: calc(75vh - 65px);
      }
      @media only screen and ($bp-xxl-min) and (min-height: 600px) {
        height: calc(75vh - 99px);
      }
      // overflow: hidden;
      img {
        min-height: 100%;
        min-width: 100%;
        @media only screen and ($bp-lg-min) and (min-height: 600px) {
          height: calc(75vh - 65px);
        }
        @media only screen and ($bp-xxl-min) and (min-height: 600px) {
          height: calc(75vh - 99px);
        }
      }
    }

    // height: 100%;
    .c-article-header__picture {
      img {
        min-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

  }

  &__audio-wrapper {

    position: absolute;
    bottom:0;
    width:100%;
    z-index: 2;

    audio{
      display: block;
    }

    .plyr .plyr__controls{
      @media only screen and (min-height: 550px) {
        padding-left: 15px;
      }
  
      @media only screen and ($bp-md-min) {
        padding-left: 30px;
      }
  
      @media only screen and ($bp-lg-min) {
        padding-left: 60px;
      }
  
      @media only screen and ($bp-xxl-min) {
        padding-left: 90px;
      }
    }
  }

  &__media-wrapper {
    .plyr {
      height: 100%;
    }
    .plyr .plyr__controls{
      @media only screen and (min-height: 550px) {
        padding-left: 15px;
      }
  
      @media only screen and ($bp-md-min) {
        padding-left: 30px;
      }
  
      @media only screen and ($bp-lg-min) {
        padding-left: 60px;
      }
  
      @media only screen and ($bp-xxl-min) {
        padding-left: 90px;
      }
    }
    height: 100%;
    picture {
      height: 100%;
      // overflow: hidden;
      img {
        min-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }


}

// Video panel
.c-article-header--video {

  .c-article-header {
    
    &__video-wrapper {
      display: none;
      
      @media only screen and ($bp-md-min) {
        display: block;
      }

      
    }

    &__video {
      display: block;
      width: 100%;
    }

    &__picture {
      @media only screen and ($bp-md-min) {
        display: none;
      }
    }
  }

}


.c-article-header__author-name {
  margin-bottom: 5px;
}
.c-article-header__author-jobtitle {
  text-transform: none;
}