//
// Story panel 3 - small panels
// --------------------------------------------------

.c-story-panel-3-small {
  position: relative;
  @include clearfix();
  
  &__article {
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
    // background: $keyline;

    @media only screen and ($bp-lg-min) {
      width: 50%;
      float: left;
    }
    
    @media only screen and (min-width: 1296px) {
      width: calc(33.33333% - 1px);
      margin-bottom: 0;
    }

    &:first-of-type {
      @media only screen and ($bp-lg-min) {
        margin-right: 1px;
        width: calc(50% - 1px); 
      }
      @media only screen and (min-width: 1296px) {
        border-bottom: 1px solid transparent;
        width: calc(33.33333% - 1px);
        margin-bottom: 0;
      }
    }

    @media only screen and (min-height: 550px) and ($bp-md-max) {
      height: calc(80vh - 54px);

      @media only screen and ($bp-sm-min) {
        height: calc(80vh - 58px);
      }
      @media only screen and ($bp-lg-min) {
        height: calc(80vh - 65px);
      }
      @media only screen and ($bp-xxl-min) {
        height: calc(80vh - 99px);
      }
      .c-story-panel-3-small__media-wrapper {
        height: 100%;
        overflow: hidden;
        picture {
          height: 100%;
          img {
            // height: auto;
            min-height: 100%;
            // object-position: left;
            max-width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    @media only screen and ($bp-sm-max) and (max-height: 550px) {
      height: auto;
    }

    @media only screen and ($bp-lg-min) and (min-height: 400px) {
    //   // height: auto;
    //   // .c-story-panel-3__media-wrapper {
    //   //   height: 100%;
    //   //   overflow: hidden;
    //   // }
    //   height: 45vh;
      // height: 33.3vh;
    }


  }
  
  &__text-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;

    @media only screen and ($bp-sm-max) and (min-height: 550px) {
      @include scrimGradient(#000, 'to top');
    }

    @media only screen and ($bp-md-min) {
      max-width: 100%;
      margin: 0;
    }
  
    @media only screen and ($bp-sm-max) and (max-height: 550px) {
      // position: absolute;
      bottom: 0;
      width: 100%;
      max-width: 100%;
      margin: 0;
      position: relative;
      .c-story-panel-3-small__link {
        padding-top: 15px;
        padding-bottom: 60px;
      }
      .c-story-panel-3-small__horizontal-gradient,
      .c-story-panel-3-small__vertical-gradient {
        display: none;
      }
      .c-story-panel-3-small__heading,
      .c-story-panel-3-small__intro {
        color: black;
      }
    }
    
  }
  
  &__heading {
    font-size: 28px;
    line-height: 34px;
    color: $white;

    &:last-child {
      margin-bottom: 0;
    }
    
    @media only screen and ($bp-md-min) {
      font-size: 35px;
      line-height: 40px;
    }

    @media only screen and ($bp-lg-min) {
      font-size: 26px;
      line-height: 32px;
    }

    @media only screen and ($bp-xxl-min) {
      font-size: 35px;
      line-height: 42px;
    }
  }
  
  &__intro {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    letter-spacing: 0.5px;

    &:last-child {
      margin-bottom: 0;
    }
    
    @media only screen and ($bp-md-min) {
      font-size: 26px;
      line-height: 32px;
    }
    @media only screen and ($bp-lg-min) {
      font-size: 20px;
      line-height: 26px;
    }
    @media only screen and ($bp-xxl-min) {
      font-size: 26px;
      line-height: 32px;
    }
  }

  &__horizontal-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;

    height: 100%;
    @media only screen and ($bp-md-min) {
      @include scrimGradient(#000, 'to top');

      &__white {
        @include scrimGradient(#FFF, 'to top');
      }
      
      &--25 {
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
      }
  
      &--50 {
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 100%);
      }
    }
    
    // @media only screen and ($bp-xl-min) {
    //   height: 400px;
    // }
    
  }

  &__vertical-gradient {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 50%;
    z-index: 1;

    @media only screen and ($bp-md-min) {
      @include scrimGradient(#000, 'to right');

      &__white {
        @include scrimGradient(#FFF, 'to right');
      }

      &--25 {
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
      }

      &--50 {
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 100%);
      }
    }
  }

  &__media-wrapper {
    position: relative;
    // min-height: 320px;
    background-color: $offwhite;

    img {
      min-width: 100%;
    }

    // @media only screen and ($bp-md-min) {
    //   min-height: 410px;
    // }

    // @media only screen and ($bp-lg-min) {
    //   min-height: 560px;
    // }

    // @media only screen and ($bp-xl-min) {
    //   min-height: 790px;
    // }

    // @media only screen and ($bp-xxl-min) {
    //   min-height: 1065px;
    // }
  } 

  &__link {
    width: 100%;
    padding: 60px 15px 15px;
    z-index: 2;
    display: block;
    position: relative;
    // padding-top: 60px;

    max-width: 500px;
    margin: auto;

    @media only screen and ($bp-md-min) {
      padding: 60px 30px 30px;
      margin: 0;
    }
    @media only screen and ($bp-xl-min) {
      width: 75%;
    }

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
      .c-story-panel-3-small__heading {
        text-decoration: underline;
      }

      color: $black;

      @media only screen and ($bp-md-min) {
        color: $white;
      }
    }

    @media only screen and ($bp-lg-min) {
      // max-width: 400px;
      // padding: 60px;
      padding: 60px 30px 60px 60px;
    }

    @media only screen and ($bp-xl-min) {
      // max-width: 550px;
    }

    @media only screen and ($bp-xxl-min) {
      // max-width: 600px;
      padding: 90px;
    }

    // @media only screen and ($bp-md-max) and (min-width: $screen-gs-width) {
    //   width: 100%;
    // }
    @media only screen and (min-width: $screen-gs-width) and (max-height: 650px) {
      width: 100%;
    }

    &--negative {
      .c-story-panel-3-small__heading,
      .c-story-panel-3-small__intro {
          color: $black;
      }

      &:hover,
      &:focus,
      &:active {
        color: $black;
      }
    }
  }
}

